<link rel="stylesheet" type="text/css" href="./classes/css/hourslog.css">
<button class='btn btn-primary' onclick="window.location.href='./admin.php'">Back to main menu</button>
<button class='btn btn-primary' onclick="window.location.href='./admin_user.php?cid={{cid}}&uid={{uid}}'" id="back_to_user">Back to user menu</button>
<h1 class='text-center'><b>{{fullname}}'s Off The Job Hours Log</b></h1>
<h1 class='text-center'><b>{{coursename}}</b></h1>
<div class='div-border'>
    <h2 class='text-center mt-2'><b>Off The Job Hours Info</b></h2>
    <div id="otjh_progress" class='w-75 center d-flex'>
        <div id="progressbar"></div>
        <div id="expectedbar"></div>
    </div>
    <ul class='w-75 pt-2 center'>
        <li class='d-flex'>
            <div class='otjh-prog-square mr-1' id='otjh_prog_progress'></div>
            <p>Progress</p>
            <p id='otjh_prog_progress_p'>: %</p>
        </li>
        <li class='d-flex'>
            <div class='otjh-prog-square mr-1' id='otjh_prog_expected'></div>
            <p>Expected</p>
            <p id='otjh_prog_expected_p'>: %</p>
        </li>
        <li class='d-flex'>
            <div class='otjh-prog-square mr-1' id='otjh_prog_incomplete'></div>
            <p>Incomplete</p>
            <p id='otjh_prog_incomplete_p'>: %</p>
        </li>
    </ul>
    <h3 class='text-left w-75 center'>Info Table</h3>
    <table class='table table-bordered table-striped table-hover w-75 text-center center' id="otjh_info_table">
        <tbody>
            {{#info_array}}
                <tr>
                    <th>Total Number of OTJ Hours Required</th>
                    <td>{{0}}</td>
                </tr>
                <tr>
                    <th>Total Number of Hours Left</th>
                    <td id="it_total_left">{{1}}</td>
                </tr>
                <tr>
                    <th>Off The Job Hours Per Week</th>
                    <td>{{2}}</td>
                </tr>
                <tr>
                    <th>Months on Programme</th>
                    <td>{{3}}</td>
                </tr>
                <tr>
                    <th>Weeks on Programme</th>
                    <td>{{4}}</td>
                </tr>
                <tr>
                    <th>Annual Leave Weeks</th>
                    <td>{{5}}</td>
                </tr>
            {{/info_array}}
        </tbody>
    </table>
</div>
<br>
<div class='div-border'>
    <h2 class='text-center'><b>Off The Job Hours Table</b></h2>
    <h2 style="display:none;" class='text-error' id="ut_error"></h2>
    <button type="button" class='btn btn-primary mr-1 mt-1' onclick="update_log_ids()">Update Record</button>
    <button type="button" class='btn btn-danger mr-1 mt-1' onclick="delete_log_ids()">Delete Record</button>
    <button type="button" class='btn btn-primary mr-1 mt-1' onclick="reset_log_ids()">Reset</button>
    <button type="button" class='btn btn-primary mr-1 mt-1' onclick="window.open('./classes/pdf/hourslog{{learn_ext}}.php?cid={{cid}}&uid={{uid}}')">Print Table</button>
    <h4 style="display:none;" class='text-success mt-1' id="lt_success"></h4>
    <h4 style="display:none;" class='text-error mt-1' id="lt_error"></h4>
    <div id="update_record_div"></div>
    <table class='table table-bordered table-striped table-hover'>
        <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Activity</th>
                <th>What unit does this link to?</th>
                <th>What have you learned?</th>
                <th>Duration (hours spent)</th>
                <th>Initials</th>
            </tr>
        </thead>
        <tbody id="logs_table_tbody">
            {{#logs_array}}
                <tr>
                    <td><button type="button" class='logs-btns btn' onclick="clicked_log_id({{1}})" disabled>{{0}}</button></td>
                    <td>{{2}}</td>
                    <td>{{3}}</td>
                    <td>{{4}}</td>
                    <td>{{5}}</td>
                    <td>{{6}}</td>
                    <td><a href="./../../user/profile.php?id={{7}}" target="_blank">{{8}}</td>
                </tr>
            {{/logs_array}}
        </tbody>
    </table>
</div>
<script defer src='./classes/js/hourslog.js'></script>