<link rel="stylesheet" type="text/css" href="./classes/css/hourslog.css">
<button class='btn btn-primary' onclick="window.location.href='./admin.php'">{{btmm}}</button>
<button class='btn btn-primary' onclick="window.location.href='./admin_user.php?cid={{cid}}&uid={{uid}}'" id="back_to_user">{{btum}}</button>
<h1 class='text-center'><b>{{fullname}} {{title}}</b></h1>
<h1 class='text-center'><b>{{coursename}}</b></h1>
<div class='div-border'>
    <h2 class='text-center mt-2'><b>{{hourslog_it}}</b></h2>
    <div id="otjh_progress" class='w-75 center d-flex'>
        <div id="progressbar"></div>
        <div id="expectedbar"></div>
    </div>
    <ul class='w-75 pt-2 center'>
        <li class='d-flex'>
            <div class='otjh-prog-square mr-1' id='otjh_prog_progress'></div>
            <p>{{progress}}</p>
            <p id='otjh_prog_progress_p'>: %</p>
        </li>
        <li class='d-flex'>
            <div class='otjh-prog-square mr-1' id='otjh_prog_expected'></div>
            <p>{{expected}}</p>
            <p id='otjh_prog_expected_p'>: %</p>
        </li>
        <li class='d-flex'>
            <div class='otjh-prog-square mr-1' id='otjh_prog_incomplete'></div>
            <p>{{incomplete}}</p>
            <p id='otjh_prog_incomplete_p'>: %</p>
        </li>
    </ul>
    <h3 class='text-left w-75 center'>{{info_table}}</h3>
    <table class='table table-bordered table-striped table-hover w-75 text-center center' id="otjh_info_table">
        <tbody>
            {{#info_array}}
                <tr>
                    <th>{{total_req_title}}</th>
                    <td>{{0}}</td>
                </tr>
                <tr>
                    <th>{{total_left_title}}</th>
                    <td id="it_total_left">{{1}}</td>
                </tr>
                <tr>
                    <th>{{otj_title}}</th>
                    <td>{{2}}</td>
                </tr>
                <tr>
                    <th>{{months_op}}</th>
                    <td>{{3}}</td>
                </tr>
                <tr>
                    <th>{{weeks_op}}</th>
                    <td>{{4}}</td>
                </tr>
                <tr>
                    <th>{{annual_lw}}</th>
                    <td>{{5}}</td>
                </tr>
            {{/info_array}}
        </tbody>
    </table>
</div>
<br>
<div class='div-border'>
    <h2 class='text-center'><b>{{otj_ht}}</b></h2>
    <h2 style="display:none;" class='text-error' id="ut_error"></h2>
    <button type="button" class='btn btn-primary mr-1 mt-1' onclick="update_log_ids()">{{update_r}}</button>
    <button type="button" class='btn btn-danger mr-1 mt-1' onclick="delete_log_ids()">{{delete_r}}</button>
    <button type="button" class='btn btn-primary mr-1 mt-1' onclick="reset_log_ids()">{{reset}}</button>
    <button type="button" class='btn btn-primary mr-1 mt-1' onclick="window.open('./classes/pdf/hourslog{{learn_ext}}.php?cid={{cid}}&uid={{uid}}')">{{print_t}}</button>
    <h4 style="display:none;" class='text-success mt-1' id="lt_success"></h4>
    <h4 style="display:none;" class='text-error mt-1' id="lt_error"></h4>
    <div id="update_record_div"></div>
    <table class='table table-bordered table-striped table-hover'>
        <thead>
            <tr>
                <th>{{id}}</th>
                <th>{{date}}</th>
                <th>{{activity}}</th>
                <th>{{what_ul}}</th>
                <th>{{what_l}}</th>
                <th>{{duration_title}}</th>
                <th>{{initials}}</th>
            </tr>
        </thead>
        <tbody id="logs_table_tbody">
            {{#logs_array}}
                <tr>
                    <td><button type="button" class='logs-btns btn' onclick="clicked_log_id({{1}})" disabled>{{0}}</button></td>
                    <td>{{2}}</td>
                    <td>{{3}}</td>
                    <td>{{4}}</td>
                    <td>{{5}}</td>
                    <td>{{6}}</td>
                    <td><a href="./../../user/profile.php?id={{7}}" target="_blank">{{8}}</td>
                </tr>
            {{/logs_array}}
        </tbody>
    </table>
</div>
<script defer src='./amd/min/hourslog.min.js'></script>