<link rel="stylesheet" type="text/css" href="./classes/css/setup.css">
<button class='btn btn-primary' onclick="window.location.href='./admin.php'">Back to main menu</button>
<button class='btn btn-primary' onclick="window.location.href='./admin_user.php?cid={{cid}}&uid={{uid}}'" id="back_to_user">Back to user menu</button>
<h1 class='text-center'><b>{{fullname}}'s Setup</b></h1>
<h1 class='text-center'><b>{{coursename}}</b></h1>
<form action="" class='text-center' id="setup_form">
    <table class='table table-bordered table-striped setup-table'>
        <thead>
            <tr>
                <th>Total Months</th>
                <th>Total Off The Job Hours</th>
                <th>Employer or Store</th>
                <th>Coach</th>
                <th>Manager/Mentor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input class='w-100' type='number' required id="totalmonths" value="{{totalmonths}}"></td>
                <td><input class='w-100' type='number' required id="totalhours" value="{{totalhours}}"></td>
                <td><input class='w-100' type='text' required id="eors" value="{{eors}}"></td>
                <td><input class='w-100' type='text' required id="coach" value="{{coach}}"></td>
                <td><input class='w-100' type='text' required id="morm" value="{{morm}}"></td>
            </tr>
        </tbody>
    </table>
    <table class='table table-bordered table-striped setup-table'>
        <thead>
            <tr>
                <th>Start Date</th>
                <th>Contracted Hours Per Week</th>
                <th>Annual Leave Weeks</th>
                <th>Training Plan</th>
                <th style='display:{{has_option}};' id="option_th">Option</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input class='w-100' type="date" required id="startdate" value="{{startdate}}"></td>
                <td><input class='w-100' type="number" step="0.01" required id="hpw" value="{{hpw}}"></td>
                <td><input class='w-100' type="number" step="0.01" required id="alw" value="{{alw}}"></td>
                <td>
                    <select class='w-100' required id="trainplan" onchange="plan_clicked()">
                        {{#filesarray}}
                            <option value='{{1}}' options="{{2}}" id="option_{{1}}" {{3}}>{{0}}</option>
                        {{/filesarray}}
                    </select>
                </td>
                <td style='display:{{has_option}};' id="option_td">
                    <select class='w-100' id="option">
                        {{#optionsarray}}
                            <option value="{{1}}" {{2}}>{{0}}</option>
                        {{/optionsarray}}
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <div class='text-center'>
        <h4>Coach Signature</h4>
        <img height="200px" width="500px" src="{{signature}}">
    </div>
    <h2 class='text-error' id="setup_error" style="display: none;"></h2>
    <h2 class='text-success' id="setup_success" style="display: none;">Success</h2>
    <button type="submit" class='btn btn-primary'>Submit</button>
</form>
<script defer src='./classes/js/setup.js'></script>