<link rel="stylesheet" type="text/css" href="./classes/css/trainingplan.css">
<button class='btn btn-primary' onclick="window.location.href='./admin.php'">Back to main menu</button>
<button class='btn btn-primary' onclick="window.location.href='./admin_user.php?cid={{cid}}&uid={{uid}}'" id="back_to_user">Back to user menu</button>
<h1 class='text-center'><b>{{fullname}}'s Training Plan</b></h1>
<h1 class='text-center'><b>{{coursename}}</b></h1>

<script defer src='./classes/js/trainingplan.js'></script>